<h1>Edit to <%= @chat_room.title %></h1>

<body>
  <div class='col-xs-9'>
    <table class='table'>
      <thead class='table'>
        <tr>
          <th>Room Title</th>
          <th>Explanation</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody class='table'>
        <tr>
          <td>
            <%= form_for(@chat_room) do |f| %>
              <%= f.text_field :title, autofocus: true, class:"form-control", placeholder:"ルーム名" %>
          </td>
          <td>
              <%= f.text_field :explanation, autofocus: true, class:"form-control", placeholder:"説明文" %> </td>
          </td>
          <td>
              <%= f.submit "Update info", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <a class="btn btn-info" href= <%= chat_room_path(@chat_room.id) %>>Back</a>
</body>
