<div class='container'>
<h1>Room list</h1>
<body>
  <p class="lead">
    <%= link_to 'New chat room', new_chat_room_path, class: 'btn btn-primary' %>
  </p>
  <div class='col-xs-9'>
    <table class='table'>
      <thead class='table'>
        <tr>
          <th>Room title</th>
          <th>Explanation</th>
          <th>Action</th>
          <th></th>
        </tr>
      </thead>
      <tbody class='table'>
        <% @chat_rooms.each do |chat_room| %>
          <tr>
            <td>
              <%= render chat_room %>
            </td>
            <td><%= chat_room.explanation %></td>
            <% if user_signed_in? %>
              <% if chat_room.user_id == current_user.id %>
                <td>
                  <a class="btn btn-success" href= <%= edit_chat_room_path(chat_room.id) %>>Edit
                  </a>
                </td>
                <td>
                  <a data-confirm="削除しますか？" class="btn btn-danger" rel="nofollow" data-method="delete" href= <%= chat_rooms_path %>>Destroy
                  </a>
                </td>
              <% else %>
              <% end %>
            <% end %>
            <td></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</body>
</div>
