<h1>Add chat room</h1>
<%= form_for @chat_room do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, class: 'form-control' %>
    <%= f.label :explanation %>
    <%= f.text_field :explanation, autofocus: true, class: 'form-control' %>
  </div>
  <%= f.submit "Create!", class: 'btn btn-primary' %>
<% end %>
